{% extends 'base.html' %}

{% block content %}

<h3>Please Register Here</h3>

<form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success" type="submit">Register</button>
    <p class="lead">Already have an account? Login <a href="/login">here</a></p>

</form>
{% endblock %}